<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>拖拽</title>
    <script type="text/javascript" src="../../bower_components/react/react.js"></script><!--核心react-->
    <script type="text/javascript" src="../../bower_components/react/react-dom.js"></script><!--虚拟dom-->
    <script type="text/javascript" src="../../bower_components/babel/browser.js"></script><!--使用jsx-->
</head>
<style>
    .dragNode{position:absolute;}
</style>
<body>
    <div id='app'>

    </div>
</body>
<script type="text/babel">
    class Drag extends React.Component{
        constructor() {
            super();
            this.state={
                moveX:0,
                moveY:0
            };
            this.disX = 0;
            this.disY = 0;
        }


        /**
         * 1. 拖拽的本质就是计算div的 left值和top值, 那么首先这个div必须是position:absolute;
         * 2. 鼠标放下 计算点击点到div边框的距离
         * 3. 鼠标移动 计算点击点减去点击点到div边框的距离 就是边框的移动距离
         * */
        fnDown(e){

            this.disX = e.clientX - e.target.offsetLeft; // 鼠标点击的点-div边框到父容器的距离 = 鼠标点击点到div边框的距离
            this.disY = e.clientY - e.target.offsetTop;

            document.onmousemove = this.fnMove.bind(this);
            document.onmouseup = this.fnUp.bind(this);
        }

        fnMove(e){

            this.setState({
                moveX : e.clientX - this.disX, // 鼠标点击的点 - 鼠标点击点到div边框的距离
                moveY : e.clientY - this.disY
            });
        }

        fnUp(){
            document.onmousemove = null;
            document.onmousedown = null;
        }

        render(){
            return (
                <div onMouseDown={this.fnDown.bind(this)} className="dragNode"
                    style={{background: this.props.style.background,
                        width:this.props.style.width,
                        height:this.props.style.height,
                        left:this.state.moveX,
                        top:this.state.moveY}}>
                </div>
            );
        }

    }


    ReactDOM.render(<Drag style={{background:'green',width:'100px',height:'100px'}}/>,app);
</script>
</html>